:root {
    --text-color: black;
    --text-color2: #F5F5F5;
    --background-color:#F5F5F5;
    --acent-color:rgba(207, 207, 207, 0);

    --font-color:#353535;
    --point-color:#239FCE;

    --darkbackground-color: #333333;
    --darkacent-color:#6d6d6d;
    --pop--font-family:'Poppins', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

.header {
    top: 0;
    display: flex;
    flex-direction: column;


    align-items: center;
    height: 11rem;
    justify-content:center;
    flex:wrap;
    color: var(--font-color);

    
}

.header_title {
    width: 100%;
}

.title {
    display: flex;

    margin-left: 3.5rem;
    margin-top: 3.375rem;
    margin-right:0.5rem;
    font-size: 3.375rem;
    font-weight: 800;
    text-align: left;
    color: var(--font-color);

    align-items: center;
    justify-content: center;
}

/* .title {
    display: flex;

    margin-left: 9.375rem;
    margin-top: 3.375rem;
    font-size: 3.375rem;
    font-weight: 800;
    text-align: left;
    color: var(--font-color);
} */

/* .title.active {
    flex-direction: column;
    margin: 0;
    text-align: center;
    color: var(--font-color);
    font-size: 4rem;
    cursor: pointer;

    transition: 1s;
} */

.title_last {
    font-size: 0.75rem;
    font-weight: 800;
    text-align: left;
    margin-left: 9.688rem;
}




.header_link {
    position: relative;
    display: flex;
    list-style: none;
    padding-left: 65%;
    padding-top: 1.25rem;
}

.header_link li {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    scale: 1;
    z-index:1;
    
}

.header_menu {
    display: flex;
    padding-left: 0;
    display: inline-block;
    font-size: 1.25rem;
    width: 0.938rem;
    font-weight: 400;
    
}

a:link { color: var(--font-color); text-decoration: none;}
a:visited { color: var(--font-color); text-decoration: none;}
a:hover { color: var(--font-color); text-decoration: none;}


.header_text{
    position: absolute;

    font-size: 2.5rem;
    font-family: Montserrat;
    font-weight: 600;
    color: #464545;

    height: auto;
    width: 72%;
    margin-top: 4.688rem;

    transition: 0.5s;
    transform-origin: bottom;
}

.header_text span {
    font-size: 2.5rem;
    color: var(--point-color);
    font-family: Montserrat;
    font-weight: 600;
}


/* 슬라이드 부분 */


.section1 {
    display: flex;
    flex-flow: wrap;
    justify-content:center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;


    transition: top 2s ease-in-out;
}

.explain, .explain2, .explain3, .explain4, .explain2, .explain5 {
    display: none;
    
}

.explain.active, .explain2.active, .explain3.active, .explain4.active{
    display: block;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -3px;
    position: absolute;
    left: 13rem;
    top: 9rem;
    font-size: 3rem;
    color: var(--darkbackground-color);
    /* stiky 빼면 18rem */
}

.explain5.active {
    display: block;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -3px;
    position: absolute;
    left: 13rem;
    top: 9rem;
    font-size: 3rem;
    color: var(--background-color);
}

.explain5.active >h2 {
    margin-top: 1.5rem;
    letter-spacing: 0;
    font-size: 1.5rem;
    color: var(--text-color2);
}


.explain.active >h2, .explain2.active >h2, .explain3.active >h2, .explain4.active >h2 {
    margin-top: 1.5rem;
    letter-spacing: 0;
    font-size: 1.5rem;
    color: var(--darkacent-color);
}

.explain.active >h1 >span, .explain2.active >h1 >span, .explain3.active >h1 >span, .explain4.active >h1 >span, .explain5.active >h1 >span {
    color: var(--point-color);
}

.slide_pic {
    display: flex;
    height: 35rem;
    width: 90%;
    background-color: #F5F5F5;

    margin-top: 1.25rem;

    justify-content:center;

    transition: opacity 1s;
    transition: 1s;
    

}

.slide_pic_wrap {
    display: flex;

    height: auto;
    width: auto; 

    
    vertical-align: middle;
    justify-content: center;
}

.slide_pic_img {
    max-width: 100%; 
    height: auto;
    max-height: 100%;
    transition:  4s ease-out;
    object-fit: contain;
    background-color:#F5F5F5;
    transition: opacity 1.5s;
    
} 

/* 글씨에 효과 */

.kk_first,
.kk_second {

    transform: scaleX(0);
    height: auto;
    width: auto;
}

.kk_first {
    transform-origin: left;
    position: absolute;
    display: block;
    
    left: 0.188rem;
    top:-1.25rem;
    height: 1.275rem;
    width: 3rem;
    background-color:#b5d5e9;
}

.kk_second {
    transform-origin: right;
    position: absolute;
    display: block;
    top:3rem;
    left: 18rem;
    height: 1.275rem;
    width: 4rem;
    background-color: var(--darkacent-color)
    /* #f06543; */
}


/* 스크롤트리거 */

.section3 {
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 10.625rem;

}

.click_text {
    position: absolute;
    left: 220px;
    margin-top: 150px;
    width: 320px;
    height: 630px;
    display: flex;
    flex-direction: column;

    color: #333333;
    font-family: var(--pop--font-family);
    text-align: justify;
    font-weight: 800;

    
}

.click_text_top > span {
    color: #239FCE;
    font-size: 45px;
    font-weight: 1200;
    
}

.click_text_top {
    text-align: left;
}

.click_text_top > h2{
    margin-top: 20px;
    font-size: 35px;
}

.click_text_bottom {
    margin-top: 20px;
    height: 70%;
    font-size: 18px;
    word-break:keep-all;
    font-family: sans-serif;
    text-align: left;

}

.click_text_bottom >h3 {
    margin-top: 20px;
    color: #239FCE;
}


.section3-img>ul {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    list-style: none;



}

.section3-img>li {
    flex-shrink: 0;
    width: clamp(500px, 60vw, 800px);
    padding-right: 1rem;
}

.section3-img>ul>li>img {
    height: 9.375rem;
    width: 9.375rem;
    transition: all 0.2s linear;
    margin: 3px 5px 3px 5px;
    
}

.section3-img>ul>li>img:hover {
    position: relative;
    border: 0.188rem solid #333333;
    transform: scale(1.18);
    bottom: 1.25rem;
    z-index: 3;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(0);
    transition: 0.7s;
    

}

.section3 {
    overflow-x: hidden;
}

.section3-text-top {
    width: 30%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: 35%;
}

.section3-text {
    display: flex;
    font-size: clamp(3rem, 1rem, 16rem);
    line-height: 1;
    font-weight: 900;
    color: #6565658c;
    width: 100%;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;

}

.section3-text > a {
    color: #6565658c;
}


.section3-text > a:hover {
    color: var(--text-color2);
    background-color: #333333;
    flex: 1 1 auto;
    transition: 1s;
    transform-style: flat;
    scale: 1.1;
}

.section3-img:not(.last) {
    padding: 0 1rem;
}


.wraper_img {
    display: flex;
    width: 100%;
    
}

.wraper_img >li>img{
    filter: grayscale(50%);
}

.wraper_img >li>img:hover {
    filter: grayscale(0);
}

.loader {
    display: none;
}














.section4_bottom {
    margin-top: 12.5rem;
    display: flex;

    height: 18.75rem;
    background-color: #afc6f86a;

    color: var(--darkacent-color);
    font-weight: 1200;
}


.bottom_left {
    display: flex;
    flex-direction: column;
    width: 49.8%;
    border-right: #ffffff;
    position: relative;

    text-align: center;
    vertical-align: middle;
}


.bottom_left:first-child {
    margin-top: 2.813rem;
}

.bottom_left > h1 {
    padding:0.62rem 0 0.62rem 0;
    cursor: pointer;

}

.bottom_left > h1:hover {
    background-color: var(--darkbackground-color);
    color: var(--text-color2);
}

.bottom_right {
    display: flex;
    flex-direction: column;
    width: 49.8%;
    justify-content: center;
    color: #F5F5F5;
}
.bottom_left:after {
    content: "";
    position: absolute;
    background: #afc6f8a2;
    bottom: 3.438rem;
    left: 100%;
    height: 70%;
    width: 0.188rem;
  }

.oh_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.oh {
    margin-top: 1.25rem;
    height: 5rem;
    margin-left: 0.625rem;
    background-color: #afc6f800;

    max-width: 100%;
    transition: 4s ease-out;
    object-fit: contain;
    transition: opacity 1.5s;
    z-index: 1;
}

.oh:hover {
    animation: rotate 1s infinite;
    z-index: 0;
}

.bottom_title:hover {
    animation: rotate 1s infinite;
    z-index: 0;
}


@keyframes rotate{
    0%{
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(360deg);
    }
}


footer {
    background-color: var(--darkbackground-color);

    position: absolute;
    height: 3.75rem;
    width: 100%;

    display: flex;
    flex-direction: row;
}

footer div {
    display: flex;
    height: 100%;
    width: 50%;
    max-height: 5rem;
    justify-content: space-around;

}

footer > div >h1{
    text-align: center;
    vertical-align: middle;
    padding: 0.538rem 0 0.625rem 0;
    font-weight: 1200;
    font-size: 1.875rem;
    color: var(--text-color2);
    cursor: pointer;

}

.bottom_title {
    font-size: 3.375rem;
    font-weight: 800;
    text-align: center;
    color: #353535;

}

.bottom_last {
    font-size: 0.75rem;
}

.fade-out {
    opacity: 0;
}



.section2 {
    padding-top: 5px;
    margin-top: 300px;
    text-align: center;
    background-color: #e4e4e46f;


 
 
 
}

.section2_text{
    font-size: 4rem;
    font-family: Montserrat;
    font-weight: 600;
    color: #464545;

    height: auto;
    width: 100%;
    margin-bottom: 70px;
    margin-top: 170px;

}

.section2 div span {
    font-size: 4rem;
    color: #239FCE;
    font-family: Montserrat;
    font-weight: 600;
}

.wrap_lev3 {
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;
    flex-wrap:wrap;
    text-align: center;
}

.warp_lev3_2 {
    display: flex;
    /* margin: 0 200px 50px; */
    width: 90vw;
    justify-content: left;
    overflow: hidden;
}

/* .wrap_lev3 div{
    font-size: 3rem;
    font-family: Montserrat;
    font-weight: 600;
    color: #464545;
    vertical-align: middle;
}
*/
.lev3_img {
    display: flex;
    width: 55%;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
}

.lev3_img2 {
    display: flex;
    width: 55%;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
}

.warp_lev3_2_re {
    display: flex;
    width: 90vw;
    margin-top: 150px;
    flex-direction: row-reverse;
    justify-content: right;
    overflow: hidden;
}

.lev3_text1 {
    position: absolute;
    left: 45%;
    padding: 10px 30px;
    width: 50%;
    text-align: left;
}

.lev3_text1 p {
    font-family: Montserrat;
    font-weight: 400;
    color: #8c8c8c;
    font-size: 20px;
}

.lev3_text1 h2 {
    font-size: 30px;
}

.lev3_text2 {
    position: absolute;
    padding: 10px 30px;
    width: 50%;
    right: 50%;
    text-align: right;
}

.lev3_text2 p {
    font-family: Montserrat;
    font-weight: 400;
    color: #8c8c8c;
    font-size: 20px;
}

.lev3_text2 h2 {
    font-size: 30px;
}

.lev3_img img {
    width:60%;
    height:auto;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 18%, #afc6f8a2 10%);
    position: relative;
    top: -350px;

}

.lev3_img2 img {
    width:60%;
    height:auto;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 18%, #afc6f8a2 10%);
    position: relative;
    right: -850px;
}


.bar2 {
    position: absolute;
    left: 10%;
    width: 25px;
    height:155%;
    border: 1px solid #6d6d6d;
    background-color: #dbdbdb;
}

.warp_lev3_2_re2 {
    display: flex;
    /* margin: 0 200px 50px; */
    width: 90vw;
    justify-content: left;
    margin-top: 150px;
}

.lev3_img3 {
    display: flex;
    width: 48%;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
}

.lev3_img3 img {
    width:70%;
    height:350px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #95ece876 10%);
    position: relative;
    right: 850px;
    padding-top: 50px;

    max-width: 100%; 
        max-height: 100%;
        transition:  4s ease-out;
        object-fit: contain;
}

.lev3_text3 {
    position: absolute;
    left: 50%;
    padding: 10px 30px;
    width: 30%;
    text-align: left;
}

.lev3_text3 p {
    font-family: Montserrat;
    font-weight: 400;
    color: #8c8c8c;
    font-size: 20px;
    width: fit-content;
    letter-spacing: 1px;
}

.lev3_text3 h2 {
    font-size: 30px;
    width: fit-content;
    

}

.textbox_1, .textbox_2 {
    flex-direction: column;
    display: flex;
    width: fit-content;
    text-align: left;
    letter-spacing: -3px;
}


/* 버튼 */

.btn {
  position: absolute;
  left: 490px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 800;
  width: 200px;

  flex: 1 1 auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #474747;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;

  background-image: linear-gradient(to right, #e4e4e46f 25%, #95ece876 51%, #afc6f86a 100%);
  /* (to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%); */

  scale: 0.8;
}



.btn:hover {
    background-position: right center; /* change the direction of the change here */
    scale: 1;
}


.header_nonedis {
    display: none;
}

.tranformEsc {
    color: #333;
    border-bottom: 16px solid #333;
    font-family: cosolas;
    text-transform: uppercase;
}


.tranformEsc::before {
    content: attr(data-text);
    position: absolute;
    
    width: 100%;
    color: var(--point-color);
    border-bottom: 16px solid var(--point-color);
    animation: lod 5s linear infinite;
    overflow: hidden;
}

@keyframes lod {
    0% {
        width: 0;
    }
    100% {
        width: 5.8%;
    }
}

