:root {
    --text-color: black;
    --text-color2: #F5F5F5;
    --background-color:#F5F5F5;
    --acent-color:rgba(207, 207, 207, 0);

    --font-color:#353535;
    --point-color:#239FCE;

    --darkbackground-color: #333333;
    --darkacent-color:#6d6d6d;
}

* {
    margin: 0;
    padding: 0;
}


.header {
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 176px;
    justify-content:center;
    flex:wrap;
    color: var(--font-color);

}

.header_title {
    width: 100%;
}

.title {
    display: flex;

    margin-left: 150px;
    margin-top: 54px;
    font-size: 54px;
    font-weight: 800;
    text-align: left;
    color: var(--font-color);
}


.title_last {
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    margin-left: 155px;
}



.header_link {
    position: absolute;
    display: flex;
    list-style: none;
    padding-left: 70%;
    padding-top: 20px;
}

.header_link li {
    padding: 8px 24px;
    font-size: 24px;
    scale: 1;
    
}

.header_menu {
    display: flex;
    padding-left: 0;
    display: inline-block;
    font-size: 20px;
    width: 15px;
    font-weight: 400;
    
}

a:link { color: var(--font-color); text-decoration: none;}
a:visited { color: var(--font-color); text-decoration: none;}
a:hover { color: var(--font-color); text-decoration: none;}


.header_text{
    position: absolute;

    font-size: 2.5rem;
    font-family: Montserrat;
    font-weight: 600;
    color: #464545;

    height: auto;
    width: 72%;
    margin-top: 75px;

}

.header_text span {
    font-size: 2.5rem;
    color: var(--point-color);
    font-family: Montserrat;
    font-weight: 600;
}


/* 슬라이드 부분 */


.section1 {
    display: flex;
    flex-flow: wrap;
    justify-content:center;
    width: 100%;
    
}
.slide_pic {
    display: flex;
    height: 560px;
    width: 100%;
    background-color: #F5F5F5;

    margin-top: 20px;

    justify-content:center;

    transition: opacity 2s;
    transition: 2s;
    

}

.slide_pic_wrap {
    display: flex;

    height: auto;
    width: auto; 

    
    vertical-align: middle;
    justify-content: center;
}

.slide_pic_img {
    max-width: 100%; 
    height: auto;
    max-height: 100%;
    transition:  4s ease-out;
    object-fit: contain;
    background-color:#F5F5F5;
    transition: opacity 1.5s;
    
} 

/* 글씨에 효과 */

.kk_first,
.kk_second {

    transform: scaleX(0);
    height: auto;
    width: auto;
}

.kk_first {
    transform-origin: left;
    position: absolute;
    display: block;
    
    left: 3px;
    top:-20px;
    height: 30px;
    width: 53px;
    background-color:#b5d5e9;
}

.kk_second {
    transform-origin: right;
    position: absolute;
    display: block;
    top:40px;
    left: 314px;
    height: 30px;
    width: 70px;
    background-color: var(--darkacent-color)
    /* #f06543; */
}


/* 스크롤트리거 */

.section3 {
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 250px;
}

.section3-img>ul {
    padding-left: 200px;
    padding-right: 200px;
    list-style: none;



}

.section3-img>li {
    flex-shrink: 0;
    width: clamp(500px, 60vw, 800px);
    padding-right: 1rem;
}

.section3-img>ul>li>img {
    height: 150px;
    width: 150px;
    transition: all 0.2s linear;
    
}

.section3-img>ul>li>img:hover {
    position: relative;
    border: 3px solid #333333;
    transform: scale(1.19);
    bottom: 20px;
    z-index: 6;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(0);
    

}

.section3 {
    overflow-x: hidden;
}

.section3-text-top {
    width: 30%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: 35%;
}

.section3-text {
    display: flex;
    font-size: clamp(3rem, 1rem, 16rem);
    line-height: 1;
    font-weight: 900;
    color: #6565658c;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;

}

.section3-img:not(.last) {
    padding: 0 1rem;
}


.wraper_img {
    display: flex;
    width: 100%;
    
}

.wraper_img >li>img{
    filter: grayscale(50%);
}

.wraper_img >li>img:hover {
    filter: grayscale(0);
}

.loader {
    display: hidden;
}














.section4_bottom {
    margin-top: 200px;
    display: flex;

    height: 300px;
    background-color: var(--darkacent-color);

    color: #F5F5F5;
}


.bottom_left {
    display: flex;
    flex-direction: column;
    width: 49.8%;
    border-right: #ffffff;
    position: relative;

    text-align: center;
    vertical-align: middle;
}

.bottom_left:first-child {
    margin-top: 45px;
}

.bottom_left > h1 {
    padding-top: 20px;
    cursor: pointer;

}

.bottom_left > h1:hover {
    background-color: var(--point-color);
}

.bottom_right {
    display: flex;
    flex-direction: column;
    width: 49.8%;
    justify-content: center;
    color: #F5F5F5;
}
.bottom_left:after {
    content: "";
    position: absolute;
    background: rgb(198, 198, 198);
    bottom: 55px;
    left: 100%;
    height: 70%;
    width: 3px;
  }

.oh_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.oh {
    margin-top: 20px;
    height: 80px;
    margin-left: 10px;
    background-color: var(--darkacent-color);

    max-width: 100%;
    transition: 4s ease-out;
    object-fit: contain;
    transition: opacity 1.5s;
    z-index: 1;
}

.oh:hover {
    animation: rotate 1s infinite;
    z-index: 0;
}

@keyframes rotate{
    0%{
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(360deg);
    }
}


footer {
    background-color: #F5F5F5;

    position: absolute;
    height: 60px;
    width: 100%;

    display: flex;
    flex-direction: row;
}

footer div {
    display: flex;
    height: 100%;
    width: 50%;
    max-height: 80px;
    justify-content: space-around;

}

footer > div >h1 {
    text-align: center;
    vertical-align: middle;
    padding: 15px 0 10px 0;
    font-weight: 1200;
    font-size: 30px;
    color: #464545;
    cursor: pointer;

}

.bottom_title {
    font-size: 54px;
    font-weight: 800;
    text-align: center;
    color: #353535;

}

.bottom_last {
    font-size: 12px;
}