<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>회원가입 테스트</title>
<h2>TEST 화면</h2>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th colspan="2">회원가입 페이지</th>
			</tr>
		</thead>
		<!--  th:object="@{user}" -->
		<form action="${/user/join}" method="post">
			<tbody>
				<tr>
					<td>아이디</td>
					<!-- th:field="*{userId}"  th:field="*{userPw}"  th:field="*{userNick}" -->
					<td><input type="text" ></td>
				</tr>
				<tr>
					<td>비밀번호</td>
					<td><input type="password"></td>
				</tr>
				<tr>
					<td>닉네임</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>성별</td>
					<td align="center">
					<!-- th:field="*{userGender}" th:field="*{userGender}"  -->
						<input type="radio" name="gender">남성 
						<input type="radio" name="gender">여성
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<button type="submit">회원가입</button>
					</td>
				</tr>
			</tbody>
		</form>
	</table>
</body>
</html>