<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/c8ca5d214a.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
    <script src="./js/main.js" defer></script>
</head>
<body>
<nav class="header_top">
    
    <img class="logo" src="img/middle.png"> <span class="typing_demo">Expert Skin Care</span>
    <div class="header_title">
        <div class="title"><!-- <img class="Lchange_color" src="#" > -->ESC<!-- <img class="Rchange_color" src="#"> -->
            <p class="title_last">PERFECT SKIN</p>
        

    <div class="header_link">
        <li class="title_item title_item_one"><a href="#">소개</a></li>
        <li class="title_item title_item_two"><a href="#">피부분석</a></li>
        <li class="title_item title_item_three"><a href="#">진단</a></li>
        <li class="title_item title_item_four"><a href="#">베스트아이템</a></li>
        <li class="title_item-none"><a href="#">로그인</a></li>
    </div>

    </div>           
    </div>

    <div class="header_menu">
        <div class="title_button dark_button"><a href="#">dark</a></div>
        <div class="title_button"><a href="#">login</a></div>
    </div>

</nav>


<section>
<div class="galary">
    <div class="galary_img_wrap">
    <img class="galary_img" src="./img/pic1.jpg" alt="화장품">
    </div>
</div>
<div class="icon_name" id="ab">
    <i class="fa-sharp fa-solid fa-circle "></i>
    <i class="fa-sharp fa-solid fa-circle-dot "></i>
    <i class="fa-sharp fa-solid fa-circle "></i>
    <p>PERFECT SKINCARE</p>
</div>
<p class="icon_name_title">PERFECT SKINCARE</p>
</section>

<section>
    <div class="wrap_lev2">
        <div class="lev2_icon">
            <img src="/img/verified.png">
        </div>
        <div class="lev2_name"> <p>500개가 넘는 제품이<br>당신의 타입에 맞는지<br>기다리고 있습니다</p>
        </div>
        <div class="lev2_icon">
            <img src="/img/rating.png">
        </div>
        <div class="lev2_name"> <p>수많은 사람들이<br>저희 분석을 사용했습니다<br> 여기서 많은 리뷰를 확인하세요</p>
        </div>
        <div class="bar">
        </div>
    </div>
    <div class="wrap_lev2_ano">

    </div>
</section>

<section class="section2">
    <div class="section2_text"><span>HOW </span>IT WORKS
    </div>
    
    
    <div class="wrap_lev3">
        <div class="bar2"></div>
    
        <div class="warp_lev3_2 ">
            <div class="lev3_img">
                <img src="./img/lev2pic1.png" art="how it work1">
            </div>
    
            <div class="lev3_text1">
                <h3><br></h3>
                <h2>고객피부에 맞는 스킨케어,<br>제대로 해결해주고 있나요?</h2>
                <p><br>피부 맞춤에 실패하면 고객 만족에도 실패합니다.<br>소비자는 모두 다른 피부타입과 요구 사항을<br>가지고 있기 때문에 모든 소비자에게 동일한 제품<br>을 제공하는 기존 화장품 처방은 더 이상 적합하지<br>않습니다</p>
            </div>
    
        </div>
    
        <div class="warp_lev3_2_re">
            <div class="lev3_img2">
                <img src="./img/lev2pic2.png" art="how it work1">
            </div>
    
            <div class="lev3_text2">
                <h3><br></h3>
                <h2><br>혼란한 제품 나열로<br>고객을 잃고 있진 않나요?</h2>
                <p><br>세 번의 클릭 안에 원하는 제품을 찾지 못하면<br>고객은 바로 이탈합니다. 피부 특성에 맞는 제품을<br>추천하기 위해서는 현재 피부 상태 분석부터<br>피부에 적합한 제품/시술 추천까지 가능한 솔루션<br>이 필요합니다</p>
            </div>
        </div>

        <div class="warp_lev3_2_re2">
            <div class="lev3_img3">
                <img src="./img/lev2pic3.png" art="how it work1">
            </div>
    
            <div class="lev3_text3">
                <div class="textbox_1">
                <h4><br></h4>
                <h2> 피부 분석 결과를<br>받아보세요 </h2>
                <p><br>고객 피부의 문제집과<br>개선방향을 알려드립니다</p>
            </div>
            <div class="textbox_2">
                <h2><br> 피부에 맞는<br>제품을 찾아드립니다</h2>
                <p><br>고객의 고민에 꼭 맞는 제품 추천으로<br>구매 전환을 높입니다</p>
            </div>
            </div>
        </div>

    </div>
    
   
    
</section>

</body>
</html>