<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rework</title>

    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/c8ca5d214a.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
    <script src="./js/main.js" defer></script>
</head>
<body>
    
<nav class="header">

    <div class="header_title">
        <div class="title">ESC
            <span class="text__first-bg "></span>
            <span class="text__second-bg"></span>


            <div class="header_link">
                <li class="title_item title_item_one "><a href="#">소개</a></li>
                <li class="title_item title_item_two"><a href="#">진단</a></li>
<!--                 <li class="title_item-three"><a href="#">다크모드</a></li>
 -->                <li class="title_item-none"><a href="#">로그인</a></li>
            </div>

        </div>
<!--         <p class="title_last">PERFECT SKIN</p>
 -->
    </div>

    <div class="header_text trigger"><span>EXPERT </span>SKINCARE
    <span class="kk_first"></span>
    <span class="kk_second"></span>
    </div>
</nav>


<section class="section1">
    <div class="slide_pic">
        <div class="slide_pic_wrap">
        <img class="slide_pic_img" src="./img/final2.jpg" alt="화장품">
        </div>
    </div>


    <!-- <div class="icon_name" id="ab">
        <i class="fa-sharp fa-solid fa-circle "></i>
        <i class="fa-sharp fa-solid fa-circle-dot "></i>
        <i class="fa-sharp fa-solid fa-circle "></i>
        <p>EXPERT SKINCARE</p>
    </div>

    <p class="icon_name_title">EXPERT SKINCARE</p> -->

</section>

<section class="section3">

    <div class="loader df aic jcc">
        <div>
            <h1>Loading</h1>
            <h2 class="loader--text">0%</h2>
        </div>
    </div>
    <section class="section3-text-top">
        <div class="section3-text">
            DRPTDRNTDSPTDSNTDRPWDRNWDSPWDSNWDRPWPDSNTDR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBaumann&nbspSkinType
        </div>
    </section>

    <section class="section3-img">
        <h4> </h4>
        <ul class="wraper_img">
            <li><img src="./img/type/1.png"></li>
            <li><img src="./img/type/2.png"></li>
            <li><img src="./img/type/3.png"></li>
            <li><img src="./img/type/4.png"></li>
        </ul>

    </section>

    <section class="section3-img">

        <ul class="wraper_img">
            <h4> </h4>
            <li><img src="./img/type/5.png"></li>
            <li><img src="./img/type/6.png"></li>
            <li><img src="./img/type/7.png"></li>
            <li><img src="./img/type/8.png"></li>
        </ul>

    </section>

    <section class="section3-img">

        <ul class="wraper_img">
            <h4> </h4>
            <li><img src="./img/type/9.png"></li>
            <li><img src="./img/type/10.png"></li>
            <li><img src="./img/type/11.png"></li>
            <li><img src="./img/type/12.png"></li>
        </ul>

    </section>

    <section class="section3-img">

        <ul class="wraper_img">
            <h4> </h4>
            <li><img src="./img/type/13.png"></li>
            <li><img src="./img/type/14.png"></li>
            <li><img src="./img/type/15.png"></li>
            <li><img src="./img/type/16.png"></li>
        </ul>

    </section>

    <section class="section3-text-top">
        <div class="section3-text">
            DRPTDRNTDSPTDSNTDRPWDRNWDSPWDSNWDRPWPDSNTDR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCHECK&nbspYOUR&nbspTYPE
        </div>
    </section>
    
</section>


<section class="section4_bottom">
    <div class="bottom_left">
        <h1>Information</h1>
        <h1>About us</h1>
        <h1>Reaviews</h1>    
        <h1>FAQs</h1>
    </div>
    <div class="bottom_right">
        <div class="bottom_title"><!-- <img class="Lchange_color" src="#" > -->ESC<!-- <img class="Rchange_color" src="#"> -->
            <p class="bottom_last">PERFECT SKIN</p>
            
        </div>
        <div class="oh_wrap">
        <img class="oh" src="./img/oh1.png"><img class="oh" src="./img/oh2.png"><img class="oh" src="./img/oh3.png">
        </div>
    </div>
</section>

<footer>
    <div>
    <h1><a>Sitemap</a></h1>
    <h1><a>Pivacy Policy</a></h1>
    <h1><a>Trust And Security</a></h1>
    </div>
    <div>
    <h1>Team 데이터처리퍼블릭</h1>
    </div>
</footer>


<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
</body>
</html>